#father{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 414px 294px 20px;
    gap: 9px;
    height: 748px;
    width: 752px;
    background-color: black;
}
.red{
    background-color: red;
    display: grid;
    width: 320px;
    height: 414px;
    
}
.white{
    background-color: rgb(226, 218, 218);
    height: 414px;
    width: 423px;
}
.white-bottom-left{
    background-color: rgb(226, 218, 218);
    width: 320px;
    height: 294px;
    gap: 9px;
}
#bargi-oq{
    background-color: rgb(226, 218, 218);
    width: 364px;
    height: 295px;
}
.small-gray{
    background-color: rgb(226, 218, 218);
}
.small-one{
    position: relative;
    background-color: rgb(226, 218, 218);
    width: 50px;
    height: 175px;
    top: -182px;
    left: 373px;
}
.blue{
    position: relative;
    background-color: blue;
    width: 50px;
    height: 130px;
    top: -516px;
    left: 702px;
}
.yellow{
    background-color: yellow;
    width: 198px;
    height: 20px;
}
.black{
    position: relative;
    background-color: rgb(44, 41, 41);
    width: 153px;
    height: 20px;
    top: -29px;
    left: 540px;
}




